<div>
    <h3>Список продуктов в корзине</h3>
<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Цена</td>
<!--        <td>Удалить из корзины</td>-->

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat='p in orderPage'>
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
<!--        <td>-->
<!--            <button class="btn btn-primary" ng-click="deleteProductFromOrder(p.id)">Удалить</button>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>
</div>